@import "../../node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

p {
   margin: 0;
   margin-top: 2px;
   margin-bottom: 2px;
   padding: 0;
}

.p-inputtext {
   padding: 2px !important;
}

.p-inputgroup-addon {
   padding: 2px;
}

/*
Prevent react-color-picker fields from expanding beyond the container
*/
.rcp-fields-floor {
   grid-template-columns: repeat(auto-fit, 100%) !important;
}

body {
   margin: 0;
   margin-left: 2px;
   margin-right: 2px;
   padding: 0;

   background-color: transparent;
}

.p-tabview-nav-link {
   background-color: var(--yellow-50);
}
