@import "../../node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

p {
   margin: 0;
   margin-top: 2px;
   margin-bottom: 2px;
   padding: 0;
}

.p-inputtext {
   padding: 2px !important;
   background-color: var(--yellow-50);
}

.p-inputgroup-addon {
   padding: 2px;
}

.p-button {
   margin-left: 1px;
   margin-right: 1px;
   margin-top: 1px;
   margin-bottom: 1px;
}

/*
Prevent react-color-picker fields from expanding beyond the container
*/
.rcp-fields-floor {
   grid-template-columns: repeat(auto-fit, 100%) !important;
}

.shadow {
   box-shadow: 1px 1px 5px 0px rgba(255, 200, 7, 0.2) !important;
}

body {
   margin: 0;
   margin-left: 2px;
   margin-right: 2px;
   padding: 0;

   background-color: transparent;

   color: var(--teal-800);
}

.p-tabview-nav-link {
   background-color: var(--yellow-50);
}
